#page-login > div {
    margin-bottom: 3em;
}

#page-login > div ~ div {
    margin-top: 3em;
}

#login-error-box {
    font-size: 2em;
    color: red;
}

#login-form {
    width: 300px;
    margin: 0 auto;
}

#login-message-box {
    font-size: 2em;
    color: green;
    text-align: center;
}

#login-attempts-table {
    margin: 0 auto;
}

#ytd-logins-graph {
    margin-top: 2em;
}

#version-table {
    font-weight: lighter;
    margin: 0 auto;
    width: 450px;
}
