#login-error-box {
    font-size: 2em;
    color: red;
}

#login-message-box {
    font-size: 2em;
    color: green;
    text-align: center;
}

#login-attempts-table {
    margin: 0 auto;
}

#ytd-site-edits-graph {
    margin-top: 2em;
}
