
/* ----------------------------------------------*/

table.edit-table {
    border-collapse: collapse;
}
table.edit-table td {
    padding: 2px 2px 2px 2px;
}
.notify-buttons.btn-group {
    margin: 0;
    vertical-align: top;
}
#delete-container {
    display: inline-block;
}
.add-change-log {
    font-weight: normal;
}
#edit-sites-list-table-wrapper th {
    top: -1px;
}
#edit-sites-list-table tbody tr {
    cursor: pointer;
}
#edit-sites-list-table a.dropdown-toggle {
    white-space: nowrap;
}
.dropdown-menu-links {
    min-width: auto;
}
.counts {
    margin-left: 8px;
    font-size: smaller;
}
.counts th {
    background-color: #bdf;
    padding: 8px;
}
.counts td {
    background-color: #def;
}
.gray {
    background-color: #ddd !important;
}
.editing td {
    background-color: #ff0;
}
.separator {
    border-top: 1px solid #000;
}