
/* ----------------------------------------------*/

table.edit-table {
    border-collapse: collapse;
}
table.edit-table td {
    padding: 2px 2px 2px 2px;
}
#edit-sites-list-table-wrapper th {
    top: -1px;
}
.dropdown-menu-links {
    min-width: auto;
}

