<!DOCTYPE html>
<html lang="en" data-built-at="<%= new Date().toISOString() %>">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Supercharger Admin</title>
    <!-- Javascript -->
    <script defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyB43_4OTJDH7REegECW9B6rmfuXPOTT1R4"></script>
    <%= htmlWebpackPlugin.files.css.map(url => `<link rel="preload" href="${url}" as="style">`).join('') %>
    <%= htmlWebpackPlugin.files.js.map(url => `<link rel="preload" href="${url}" as="script">`).join('') %>
</head>
<body>


<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="logo">
            <img src="/images/logo.svg" />
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul id="navbar-menu-item-list" class="nav navbar-nav navbar-right">
                <li><a id="page-link-api" href="#api">API</a></li>
                <li><a id="page-link-comparison" href="#comparison">Comparison</a></li>
                <li><a id="page-link-validation" href="#validation">Validation</a></li>
                <li><a id="page-link-edit" href="#edit">Site Edit</a></li>
                <li><a id="page-link-changeLog" href="#changeLog">Change Log</a></li>
                <li><a id="page-link-feature" href="#feature">Features</a></li>
                <li><a id="page-link-system" href="#system">System</a></li>
                <li class="dropdown">
                    <a id="login-link" class="dropdown-toggle" data-toggle="modal" data-target="#login-dialog"
                       role="button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Sign In</a>
                    <a id="username-link" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false" style="display: none"></a>
                    <ul class="dropdown-menu">
                        <li><a class="page dropdown-item" id="page-link-account" href="#account"><span
                            class="glyphicon glyphicon-stats"></span> Account History</a></li>
                        <li class="divider"></li>
                        <li><a id="logout-link" class="dropdown-item" href="#"><span
                            class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>
</div>


<!-- Begin page content -->
<div class="container-fluid" style="padding-top: 70px">


    <div id="page-account" class="page" style="display: none">


        <div class="row">
            <div class="col-md-7 col-lg-6">
                <table id="login-attempts-table" class="view-table" style="display: none;">
                    <caption>Login History</caption>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Result</th>
                        <th>IP</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div id="ytd-logins-graph" class="col-md-5 col-lg-6"></div>
        </div>

        <div id="editor-graphs-container" class="row">

            <div id="ytd-site-edits-graph" class="col-md-4"></div>

            <div id="ytd-site-additions-graph" class="col-md-4"></div>

            <div id="site-edits-pie" class="col-md-4"></div>

        </div>

        <table id="edit-history-table" class="view-table" style="width:100%">
            <thead></thead>
            <tbody></tbody>
        </table>

    </div>

    <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    PAGE: API
    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
    <div id="page-api" class="page">


        <div class="container">

            <table class="table table-striped table-hover table-condensed">
                <caption>API Endpoints</caption>
                <tbody>
                    <tr>
                        <th>Service</th>
                        <th>URL</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>Superchargers</td>
                        <td><a href="/service/supercharge/allSites">supercharge/allSites</a></td>
                        <td>List all supercharger sites.</td>
                    </tr>
                    <tr>
                        <td>Changes</td>
                        <td><a href="/service/supercharge/allChanges">supercharge/allChanges</a></td>
                        <td>List all changes.</td>
                    </tr>
                    <tr>
                        <td>Countries</td>
                        <td><a href="/service/supercharge/country">supercharge/country</a></td>
                        <td>List countries.</td>
                    </tr>
                    <tr>
                        <td>Regions</td>
                        <td><a href="/service/supercharge/region">supercharge/region</a></td>
                        <td>List regions.</td>
                    </tr>
                    <tr>
                        <td>DB Info</td>
                        <td><a href="/service/supercharge/databaseInfo">supercharge/databaseInfo</a></td>
                        <td>Indicates when the database was last modified.</td>
                    </tr>
                    <tr>
                        <td>Discussion Thread Redirect</td>
                        <td><a href="/service/supercharge/discuss?siteId=100">supercharge/discuss?siteId=100</a></td>
                        <td>For a given siteId redirect to the associated discussion URL.</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-condensed" id="version-table">
                <caption>Application Information</caption>
                <tbody>
                    <tr>
                        <th>server version</th>
                        <td id="build-version-container"></td>
                    </tr>
                    <tr>
                        <th>server build date</th>
                        <td id="build-timestamp-container"></td>
                    </tr>
                    <tr>
                        <th>admin ui version</th>
                        <td id="admin-ui-version-container"></td>
                    </tr>
                    <tr>
                        <th>admin build date</th>
                        <td id="admin-ui-timestamp-container"></td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>


    <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    PAGE: Comparison
    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
    <div id="page-comparison" class="page" style="display: none">
        <ul class="nav nav-pills" style="margin-bottom: 15px">
            <li role="presentation" class="active"><a href="/service/supercharge/validation/webscrape" data-target="#validation-web-scrape-report"><span class="glyphicon glyphicon-globe"></span> Worldwide</a></li>
            <li role="presentation"><a href="/service/supercharge/validation/webscrape-china" data-target="#validation-web-scrape-china-report"><span class="glyphicon glyphicon-plane"></span> China</a></li>
            <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-cloud-download"></span> Json Sources <span class="caret" /></a>
                <ul class="dropdown-menu">
                    <li><a href="/service/supercharge/validation/tesla-source" target="_blank">Raw Worldwide Locations</a></li>
                    <li><a href="/service/supercharge/validation/china-source" target="_blank">Raw China Loations</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/service/supercharge/validation/processed-source" target="_blank">Processed Worldwide Locations</a></li>
                    <li><a href="/service/supercharge/validation/processed-china-source" target="_blank">Processed China Locations</a></li>
                </ul>
            </li>
            <li role="presentation"><a href="#refresh"><span class="glyphicon glyphicon-refresh"></span> Refresh</a></li>
        </ul>
        <div id="validation-web-scrape-report" class="fade active in">
            <div class="dataTables_processing">
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div id="validation-web-scrape-china-report" class="fade">
            <div class="dataTables_processing">
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    PAGE: Validation
    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
    <div id="page-validation" class="page" style="display: none">
        <div class="dataTables_processing fade in">
            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <table id="validation-table" class="view-table fade">
            <caption>Database Validations</caption>
            <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Pass</th>
                <th>SQL</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>


    <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    PAGE: Edit
    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
    <div id="page-edit" class="page" style="display: none">


        <form id="site-edit-form" action="" method="post" class="clearfix">

            <div class="col-md-4 col-sm-12">
                <table class="edit-table">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <td>
                            <input name="id" size="10" readonly="true" class="gray"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Modified Date</th>
                        <td><input name="dateModified" size="20" disabled="true" class="gray">
                            version:
                            <input name="version" size="3" disabled="true" class="gray">
                        </td>
                    </tr>
                    <tr>
                        <th>Tesla Location ID</th>
                        <td><input name="locationId" type="text" size="35" maxlength="300"/></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td><input name="name" size="40"/></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>
                            <select name="status">
                                <option name="closed" value="CLOSED_PERM">CLOSED PERMANENTLY</option>
                                <option name="closed" value="CLOSED_TEMP">CLOSED TEMPORARILY</option>
                                <option name="permit" value="PERMIT" SELECTED>PERMIT</option>
                                <option name="construction" value="CONSTRUCTION">CONSTRUCTION</option>
                                <option name="open" value="OPEN">OPEN</option>
                                <!-- COMING SOON
                                <option name="voting" value="VOTING">VOTING</option>
                                <option name="plan" value="PLAN">PLAN</option>
                                <option name="expanding" value="EXPANDING">EXPANDING</option>
                                -->
                            </select>
                            <span class="notify-buttons btn-group" data-toggle="buttons">
                                <label class="btn btn-default btn-xs active" title="publish to social media"
                                       style="vertical-align: top; padding: 0 5px;">
                                    <input type="radio" name="notify" value="yes" checked="checked" />
                                    <span class="glyphicon glyphicon-bell"></span>
                                    <strong>Notify</strong>
                                </label>
                                <label class="btn btn-default btn-xs" title="reduce visibility of change log"
                                       style="vertical-align: top; padding: 0 5px;">
                                    <input type="radio" name="notify" value="log" />
                                    <span class="glyphicon glyphicon-eye-close"></span>
                                    <strong>Log</strong>
                                </label>
                                <label class="btn btn-default btn-xs" title="skip changelog"
                                       style="vertical-align: top; padding: 0 5px;">
                                    <input type="radio" name="notify" value="no" />
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                    <strong>Skip</strong>
                                </label>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Open Date</th>
                        <td><input name="dateOpened" type="date" size="40"/></td>
                    </tr>
                    <tr title="Blank indicates always open (24/7)">
                        <th>Hours</th>
                        <td><input name="hours" size="40"/></td>
                    </tr>
                    <tr>
                        <th>GPS (lat,lng)</th>
                        <td>
                            <input name="gps[latitude]" size="12" maxlength="35" id="latitude-input"/>
                            <strong>°N,</strong>
                            <input name="gps[longitude]" size="12" maxlength="35" id="longitude-input"/>
                            <strong>°E</strong>
                        </td>
                    </tr>
                    <tr>
                        <th>Elevation (m)</th>
                        <td>
                            <input name="elevationMeters" type="number" size="9" maxlength="9"/> &nbsp;
                            <button id="elevation-lookup-button" class="btn btn-sm btn-default">auto lookup</button>
                            &nbsp;&nbsp;
                            <a href="http://www.gpsvisualizer.com/elevation" target="_blank">gpsvisualizer</a>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <th>Stall Count</th>
                        <td>
                            <input name="stallCount" inputmode="numeric" size="4"/>
                            &nbsp;
                            <b title="Accessible"># <img src="./images/accessible_sign.svg" width="22" height="22" style="margin-top: -2px;"/>:</b>
                            <input name="stalls[accessible]" inputmode="numeric" size="4"/>
                            &nbsp;
                            <b># Trailer-friendly:</b> <input name="stalls[trailerFriendly]" inputmode="numeric" size="4"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="counts">
                                <tr>
                                    <th rowspan="2">Stalls</th>
                                    <td>Urban</td><td>V2</td><td>V3</td><td>V4</td><td title="Other/Unknown/TBD">??</td>
                                </tr>
                                <tr>
                                    <td><input name="stalls[urban]" inputmode="numeric" size="4"/></td>
                                    <td><input name="stalls[v2]" inputmode="numeric" size="4"/></td>
                                    <td><input name="stalls[v3]" inputmode="numeric" size="4"/></td>
                                    <td><input name="stalls[v4]" inputmode="numeric" size="4"/></td>
                                    <td title="Other/Unknown/TBD"><input name="stalls[other]" inputmode="numeric" size="4"/></td>
                                </tr>
                                <tr class="separator">
                                    <th rowspan="2">Plugs</th>
                                    <td title="Tesla Proprietary Connector">TPC</td>
                                    <td title="North American Charging Standard (J3400)">NACS</td>
                                    <td title="MagicDock - Combined Charging System 1">CCS1</td>
                                    <td title="Combined Charging System 2">CCS2</td>
                                    <td title="Mennekes">Type2</td>
                                    <td title="China (except Hong Kong and Macau)">GB/T</td>
                                    <td title="Other/Unknown/TBD">??</td>
                                    <td title="Number of stalls with multiple plugs" class="gray">&nbsp;Multi</td>
                                </tr>
                                <tr>
                                    <td title="Tesla Proprietary Connector"><input name="plugs[tpc]" inputmode="numeric" size="4"/></td>
                                    <td title="North American Charging Standard (J3400)"><input name="plugs[nacs]" inputmode="numeric" size="4"/></td>
                                    <td title="MagicDock - Combined Charging System 1"><input name="plugs[ccs1]" inputmode="numeric" size="4"/></td>
                                    <td title="Combined Charging System 2"><input name="plugs[ccs2]" inputmode="numeric" size="4"/></td>
                                    <td title="Mennekes"><input name="plugs[type2]" inputmode="numeric" size="4"/></td>
                                    <td title="China (except Hong Kong)"><input name="plugs[gbt]" inputmode="numeric" size="4"/></td>
                                    <td title="Other/Unknown/TBD"><input name="plugs[other]" inputmode="numeric" size="4"/></td>
                                    <td title="Number of stalls with multiple plugs" class="gray">&nbsp;<input name="plugs[multi]" inputmode="numeric" size="4"/></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 col-sm-12">
                <table class="edit-table">
                    <tbody>
                    <tr>
                        <th>Max Power (kW)</th>
                        <td>
                            <input name="powerKiloWatt" type="text" inputmode="numeric" size="5" maxlength="3"/>
                        </td>
                    </tr>
                    <tr>
                        <td><i>Counted</i></td>
                        <td>
                            <i>
                            <select name="counted">
                                <option name="true" value="true">true</option>
                                <option name="false" value="false">false</option>
                            </select>
                            </i>
                        </td>
                    </tr>
                    <tr>
                        <th>Solar Canopy</th>
                        <td>
                            <select name="solarCanopy">
                                <option name="false" value="false">false</option>
                                <option name="true" value="true">true</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Battery/<wbr/>Storage</th>
                        <td>
                            <select name="battery">
                                <option name="false" value="false">false</option>
                                <option name="true" value="true">true</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Other EVs</th>
                        <td>
                            <select name="otherEVs">
                                <option name="false" value="false">false</option>
                                <option name="true" value="true">true</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>PlugShare ID</th>
                        <td><input name="plugshareId" size="10" inputmode="numeric"/></td>
                    </tr>
                    <tr title='Navigate to the charger on OpenStreetMap.org, right-click or long-press and select "Query features," then select the supercharger to get the Node ID in parentheses'>
                        <th>OSM Node ID</th>
                        <td><input name="osmId" size="10" inputmode="numeric"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-sm-12">
                <table class="edit-table">
                    <tbody>
                    <tr>
                        <th>Street</th>
                        <td><input name="address[street]" size="40"/></td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td><input name="address[city]" size="40"/></td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td><input name="address[state]" size="40"/></td>
                    </tr>
                    <tr>
                        <th>Zip</th>
                        <td><input name="address[zip]" size="40"/></td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>
                            <select id="address-country-select" name="address[countryId]">
                                <option value="">-- Country --</option>
                            </select>
                        </td>
                    </tr>
                    <tr title='e.g. "2nd level of garage"'>
                        <th>Address Notes</th>
                        <td>
                            <textarea rows="2" cols="50" maxlength="925" name="addressNotes"></textarea>
                        </td>
                    </tr>
                    <tr title="Name and hours of the supercharger's host or nearest facility, e.g. Wawa">
                        <th>Primary Facility</th>
                        <td title='Blank for "Hours" indicates unknown hours'>
                            <b>- Name:</b> <input name="facilityName" size="40"/><br/>
                            <b>- Hours:</b> <input name="facilityHours" size="40"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Parking</th>
                        <td>
                            <select id="parking-select" name="parkingId">
                                <option value="">(unknown)</option>
                            </select>
                        </td>
                    </tr>
                    <tr title='e.g. restrictions or unusual parking details'>
                        <th>Access Notes</th>
                        <td>
                            <textarea rows="2" cols="50" maxlength="925" name="accessNotes"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>URL Discuss</th>
                        <td><input name="urlDiscuss" type="url" size="50" maxlength="400"/></td>
                    </tr>
                    <tr class="gray separator">
                        <td><i><b>Editor Notes</b><br/>(not visible<br/>to end users)</i></td>
                        <td>
                            <textarea rows="3" cols="50" maxlength="925" name="developerNotes"></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12">
                <div id="edit-site-message-div"></div>
                <div class="btn-group">
                    <button id="edit-site-save-button" type="submit" class="btn btn-primary"
                            title="save changes">
                        <span class="glyphicon glyphicon-saved"></span>
                        Save
                    </button>
                    <button id="edit-site-reset-button" type="reset" class="btn btn-default"
                            title="clear all fields in this form">
                        <span class="glyphicon glyphicon-erase"></span>
                        Reset Form
                    </button>
                    <button id="edit-site-copy-button" type="button" class="btn btn-default"
                            title="copy all fields to new, un-saved, site">
                        <span class="glyphicon glyphicon-duplicate"></span>
                        Clone Site
                    </button>
                </div>
                &nbsp; | &nbsp;
                <div class="btn-group">
                    <button id="edit-site-history-button" type="submit" class="btn btn-default"
                            title="view detailed edit history">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        View Edit History
                    </button>
                    <button id="change-site-history-button" type="submit" class="btn btn-default"
                            title="view/edit change logs">
                        <span class="glyphicon glyphicon-tasks"></span>
                        Manage Change Logs
                    </button>
                </div>
                <div id="delete-container" style="display:hidden">
                    &nbsp; | &nbsp;
                    <button id="edit-site-delete-button" type="submit" class="btn btn-danger"
                            title="permanently delete site">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete Site
                    </button>
                </div>
            </div>

        </form>

        <div class="collapse">
            <table id="edit-site-detail-table" class="table table-condensed table-hover table-bordered">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="collapse">
            <table id="edit-site-detail-table" class="table table-condensed table-hover table-bordered">
            <table id="edit-change-detail-table" class="table table-condensed table-hover table-bordered">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>

        <table id="edit-sites-list-table" class="table table-condensed table-hover table-bordered" style="width:100%">
            <thead></thead>
            <tbody></tbody>
        </table>

    </div>


    <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    PAGE: Change Log
    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
    <div id="page-changeLog" class="page" style="display: none">
        <table id="change-log-list-table" class="table table-condensed table-hover table-bordered" style="width:100%">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>


    <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    PAGE: Feature
    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
    <div id="page-feature" class="page" style="display: none">
        <form id="feature-form">
            <table>
                <tr>
                    <td><label>ID</label></td>
                    <td><input name="id" readonly="true" class="gray"></td>
                </tr>
                <tr>
                    <td><label>Modified Date</label></td>
                    <td><input name="modifiedDate" disabled="true" class="gray"></td>
                </tr>
                <tr>
                    <td><label>Date Added</label></td>
                    <td><input name="addedDate" type="date" required="true"></td>
                </tr>
                <tr>
                    <td><label>Title</label></td>
                    <td><input name="title" type="text" required="true"></td>
                </tr>
                <tr>
                    <td><label>Description</label></td>
                    <td><textarea name="description" rows="10" cols="80" required="true"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn" id="feature-preview-button">Preview</button>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <button class="btn" id="feature-save-button">Save</button>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <button class="btn" type="reset" style="padding: 4px 10px 4px 10px"
                                title="clear all fields in this form">Reset Form
                        </button>
                    </td>
                </tr>
            </table>
        </form>
        <div id="feature-edit-message-box"></div>
        <br/>
        <table id="feature-table" class="table table-condensed table-hover table-bordered">
            <caption>Feature Announcements</caption>
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    PAGE: System
    = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->
    <div id="page-system" class="page" style="display: none">
        <table id="system-properties-table" class="table table-condensed table-hover table-bordered">
            <caption>System Properties</caption>
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>


</div>

<!-- Login -->
<div class="modal fade" id="login-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title strong">Login</h4>
            </div>
            <div class="modal-body">
                <form method="POST" id="login-panel">
                    <div class="form-group">
                        <input class="form-control" type="text" id="name" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" id="word" placeholder="Password" required>
                    </div>
                </form>
                <div id="login-error-box" class="alert alert-danger" style="display:none"></div>
            </div>
            <div class="modal-footer">
                <button id="login-button" form="login-panel" class="btn btn-large btn-primary btn-block">Login</button>
            </div>
        </div>
    </div>
</div>

<!-- New Features -->
<div class="modal fade" id="features-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body d-flex">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
